{% extends "base/base.html" %}
{% load static %}

{% block content %}
  <main>
  <!--================Cart Area =================-->
  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bottom_button">
                <td>
                  <a class="btn_1" href={% url 'cart:index' cart_id|default:0 %}>Update Cart</a>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div class="cupon_text float-right">
                    <a class="btn_1" href="#">Close Coupon</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Subtotal</h5>
                </td>
                <td>
                  <h5 id="subtotal"></h5>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href={% url 'goods:index' %}>Continue Shopping</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Cart Area =================-->
  </main>

  <script type="application/javascript">
    var csrfcookie = function() {
        var cookieValue = null,
            name = 'csrftoken';
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    };

    function getGoods() {
        const http = new XMLHttpRequest();
        http.open('GET', "{% url 'api1:get_cart_goods' %}");
        http.setRequestHeader('Content-type', 'application/json');
        http.setRequestHeader('X-CSRFToken', csrfcookie());
        http.send();

        http.onload = function() {
            let r = JSON.parse(http.response);
            console.log(r);
            r.items.forEach(item => {
              var html = `<tr>
                <td><div class="media"><div class="d-flex"><img src="item.product.photo_url" alt="item.product.name" /></div><div class="media-body"><p>item.product.name</p></div></div></td>
                <td><h5>item.price</h5></td>
                <td><div class="product_count">
                  <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                  <input id="item.product.pk" class="input-number" type="text" value="item.quantity" onchange="valueChange(this.value,item.product.pk,'item.product.name')" min="0" max="item.goods.quantity">
                  <span class="input-number-increment"> <i class="ti-plus"></i></span>
                </div></td>
                <td><h5 id="item.product.name">item.quantity_multiply_item.price</h5></td>
              </tr>`;
              html = html.replace(/item.quantity_multiply_item.price/g, (item.quantity*item.price).toFixed(2).toString());
              html = html.replace(/item.quantity/g, (1*item.quantity).toFixed(0).toString());
              html = html.replace(/item.product.pk/g, item.product.pk.toString());
              html = html.replace(/item.goods.quantity/g, (1*item.goods.quantity).toFixed(0).toString());
              html = html.replace(/item.product.name/g, item.product.name);
              html = html.replace(/item.product.photo_url/g, item.product.photo_url.toString());
              html = html.replace(/item.price/g, (1*item.price).toFixed(2).toString());
              html = $.parseHTML(html);
              $('table.table').find('tbody').prepend(html);
            });
            $('.shopping-card').attr('data-before',r.itemsCount);
            $('#subtotal').text(r.full.toString());
        }
    };

    function valueChange(quantity, goodsId, id) {
      quantity = quantity*1
      if (quantity > (document.getElementById(goodsId).max * 1)) {
          console.log(quantity, (document.getElementById(goodsId).max * 1));
          quantity = (document.getElementById(goodsId).max * 1);
          document.getElementById(goodsId).value = quantity;
      }
      if (quantity < (document.getElementById(goodsId).min * 1)) {
          console.log(quantity, document.getElementById(goodsId).min);
          quantity = (document.getElementById(goodsId).min * 1);
          document.getElementById(goodsId).value = quantity;
      }
      const http = new XMLHttpRequest();
      goodsId = (goodsId*1).toFixed(0);
      quantity = (quantity*1).toFixed(0);
      http.open('POST', "{% url 'api1:cart_item_inc_dec' %}");
      http.setRequestHeader('Content-type', 'application/json');
      http.setRequestHeader('X-CSRFToken', csrfcookie());
      http.send(JSON.stringify({goods_id:goodsId, quantity:quantity})); // Make sure to stringify

      http.onload = function() {
          let r = JSON.parse(http.response);
          document.getElementById(goodsId).value = (r.quantity*1).toFixed(0);
          document.getElementById(id).innerHTML = r.item;
          document.getElementById('subtotal').innerHTML = r.full;
      }
    };
    
    window.onload = getGoods();
  </script>

{% endblock %}