{% extends "base/base.html" %}
{% load static %}


{% block content %}
    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'img/hero/category.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>product list</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    
    <!-- product list part start-->
    <section class="product_list section_padding">
        <div class="container">
            <div class="row">
                <div class="product_list">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </section>

<script type="application/javascript">
    var csrfcookie = function() {
        var cookieValue = null,
            name = 'csrftoken';
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    };

    function getGoods() {
        const http = new XMLHttpRequest();
        http.open('GET', "{% url 'api1:get_all_goods' %}");
        http.setRequestHeader('Content-type', 'application/json');
        http.setRequestHeader('X-CSRFToken', csrfcookie());
        http.send();

        http.onload = function() {
            let r = JSON.parse(http.response);
            console.log(r);
            r.products.forEach(item => {
              var html = `<div class="col-lg-6 col-sm-6">
                            <a href="{% url 'goods:details' 12345678901234567890 %}">
                                <div class="single_product_item">
                                    <img src="goods.productId.image.url" width="250" height="250" alt="" class="img-fluid">
                                    <h3> goods.productId.name </h3>
                                    <p> goods.price </p>
                                </div>
                            </a>
                        </div>`;
              html = html.replace(/12345678901234567890/g, (item.id).toString());
              html = html.replace(/goods.productId.image.url/g, item.photo_url);
              html = html.replace(/goods.productId.name/g, item.name);
              html = html.replace(/goods.price/g, (1*item.price).toFixed(2).toString());
              html = $.parseHTML(html);
              $('div.product_list div.row').append(html);
            });
        }
    };

    window.onload = getGoods();

</script>

{% endblock %}
